/.idea/
/A tiny pixel/task-info.yaml
/A tiny pixel/task-remote-info.yaml
/Download the result/task-info.yaml
/Download the result/task-remote-info.yaml
/First steps/task-info.yaml
/First steps/task-remote-info.yaml
/lesson-info.yaml
/What a landscape_/task-info.yaml
/What a landscape_/task-remote-info.yaml
